Secrets*.toml
!Secrets.example.toml
/target
.shuttle*
/.direnv/*

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
.aider*

.env
.env*.local
.git

*.sh
/result
